@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0 0% 100%;
  --primary-50: 0 0% 98%;
  --primary-100: 0 0% 96.1% ;
  --primary-200: 0 0% 89.8% ;
  --primary-300: 0 0% 83.1% ;
  --primary-400: 0 0% 63.9% ;
  --primary-500: 0 0% 45.1% ;
  --primary-600: 0 0% 32.2% ;
  --primary-700: 0 0% 25.1% ;
  --primary-800: 0 0% 14.9% ;
  --primary-900: 0 0% 9% ;
  --primary-950: 0 0% 3.9% ;
  
  --secondary-50: 213.8 100% 96.9%;
  --secondary-100: 214.3 94.6% 92.7% ;
  --secondary-200: 213.3 96.9% 87.3% ;
  --secondary-300: 211.7 96.4% 78.4% ;
  --secondary-400: 213.1 93.9% 67.8% ;
  --secondary-500: 217.2 91.2% 59.8% ;
  --secondary-600: 221.2 83.2% 53.3% ;
  --secondary-700: 224.3 76.3% 48% ;
  --secondary-800: 224.3 76.3% 48% ;
  --secondary-900: 224.4 64.3% 32.9% ;
  --secondary-950: 226.2 57% 21% ;
  --secondary: 0 0% 100%;

  --success-50: 138.5 76.5% 96.7%;
  --success-100: 140.6 84.2% 92.5% ;
  --success-200: 141 78.9% 85.1% ;
  --success-300: 141.7 76.6% 73.1% ;
  --success-400: 141.9 69.2% 58% ;
  --success-500: 142.1 70.6% 45.3% ;
  --success-600: 142.1 76.2% 36.3% ;
  --success-700: 142.4 71.8% 29.2% ;
  --success-800: 142.8 64.2% 24.1% ;
  --success-900: 143.8 61.2% 20.2% ;
  --success-950: 144.9 80.4% 10% ;

  --danger-50: 33.3 100% 96.5%;
  --danger-100: 34.3 100% 91.8% ;
  --danger-200: 32.1 97.7% 83.1% ;
  --danger-300: 30.7 97.2% 72.4% ;
  --danger-400: 27 96% 61% ;
  --danger-500: 24.6 95% 53.1% ;
  --danger-600: 20.5 90.2% 48.2% ;
  --danger-700: 17.5 88.3% 40.4% ;
  --danger-800: 15 79.1% 33.7% ;
  --danger-900: 15.3 74.6% 27.8% ;
  --danger-950: 13 81.1% 14.5% ;

  color-scheme: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: 0 0% 100%;
    --primary-50: 0 0% 98%;
    --primary-100: 0 0% 96.1% ;
    --primary-200: 0 0% 89.8% ;
    --primary-300: 0 0% 83.1% ;
    --primary-400: 0 0% 63.9% ;
    --primary-500: 0 0% 45.1% ;
    --primary-600: 0 0% 32.2% ;
    --primary-700: 0 0% 25.1% ;
    --primary-800: 0 0% 14.9% ;
    --primary-900: 0 0% 9% ;
    --primary-950: 0 0% 3.9% ;
    
    --secondary: 0 0% 100%;
    --secondary-50: 213.8 100% 96.9%;
    --secondary-100: 214.3 94.6% 92.7% ;
    --secondary-200: 213.3 96.9% 87.3% ;
    --secondary-300: 211.7 96.4% 78.4% ;
    --secondary-400: 213.1 93.9% 67.8% ;
    --secondary-500: 217.2 91.2% 59.8% ;
    --secondary-600: 221.2 83.2% 53.3% ;
    --secondary-700: 224.3 76.3% 48% ;
    --secondary-800: 224.3 76.3% 48% ;
    --secondary-900: 224.4 64.3% 32.9% ;
    --secondary-950: 226.2 57% 21% ;

    --success-50: 138.5 76.5% 96.7%;
    --success-100: 140.6 84.2% 92.5% ;
    --success-200: 141 78.9% 85.1% ;
    --success-300: 141.7 76.6% 73.1% ;
    --success-400: 141.9 69.2% 58% ;
    --success-500: 142.1 70.6% 45.3% ;
    --success-600: 142.1 76.2% 36.3% ;
    --success-700: 142.4 71.8% 29.2% ;
    --success-800: 142.8 64.2% 24.1% ;
    --success-900: 143.8 61.2% 20.2% ;
    --success-950: 144.9 80.4% 10% ;

    --danger-50: 33.3 100% 96.5%;
    --danger-100: 34.3 100% 91.8% ;
    --danger-200: 32.1 97.7% 83.1% ;
    --danger-300: 30.7 97.2% 72.4% ;
    --danger-400: 27 96% 61% ;
    --danger-500: 24.6 95% 53.1% ;
    --danger-600: 20.5 90.2% 48.2% ;
    --danger-700: 17.5 88.3% 40.4% ;
    --danger-800: 15 79.1% 33.7% ;
    --danger-900: 15.3 74.6% 27.8% ;
    --danger-950: 13 81.1% 14.5% ;
  }
}

/* ///////////////////////////////////// */
/* ///////////// BASE STYLES ////////// */
/* //////////////////////////////////// */
@layer base {
  html {
    @apply scroll-smooth
  }

  body {
    @apply w-full min-h-dvh bg-primary text-primary-950 scroll-smooth font-inter;
  }

  p {
    @apply text-balance text-lg font-semibold text-primary-800;
  }

}

/* ///////////////////////////////////// */
/* /////////// UTILITY STYLES ////////// */
/* //////////////////////////////////// */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

/* ///////////////////////////////////// */
/* ///////////// LOGIN STYLES ////////// */
/* //////////////////////////////////// */
@layer utilities {
  .login-container {
    @apply w-full min-h-dvh flex-center;
  }
}

/* ///////////////////////////////////// */
/* //////// ADMIN MAIN STYLES ///////// */
/* //////////////////////////////////// */
@layer utilities {
  .admin-container {
    @apply w-full min-h-dvh flex;
  }

  .admin-container>header {
    @apply w-64 h-dvh bg-secondary-600 flex-center;
  }

  .admin-container>main {
    @apply flex-1 min-h-dvh flex
  }
}

/* ///////////////////////////////////// */
/* //////////// HOME STYLES //////////// */
/* //////////////////////////////////// */
@layer utilities {
  .home-container {
    @apply w-full min-h-dvh flex-center;
  }
}

/* ///////////////////////////////////// */
/* ///////// RESOURCES STYLES ////////// */
/* //////////////////////////////////// */
@layer utilities {
  .resource-container {
    @apply w-full min-h-dvh flex-center;
  }
}

/* ///////////////////////////////////// */
/* //////////// BLOG STYLES //////////// */
/* //////////////////////////////////// */
@layer utilities {
  .blogs-container {
    @apply w-full min-h-dvh flex;
  }

  .blogs-container>nav {
    @apply w-64 h-dvh bg-secondary-300 flex-center;
  }

  .blogs-container>.blogs-home-container {
    @apply flex-1 min-h-dvh flex-center
  }

  .blogs-container>.blogs-form-container {
    @apply flex-1 min-h-dvh flex-center
  }
}

/* ///////////////////////////////////// */
/* /////////// MARKET STYLES /////////// */
/* //////////////////////////////////// */
@layer utilities {
  .market-container {
    @apply w-full min-h-dvh flex flex-col;
  }

  .market-container>nav {
    @apply w-full h-28 flex-center bg-secondary-300
  }

  .market-container>.shops-container {
    @apply w-full flex-1 flex-center
  }

  .market-container>.products-container {
    @apply w-full flex-1 flex-center
  }
}

/* ///////////////////////////////////// */
/* ///////// MEMBERS STYLES ////////// */
/* //////////////////////////////////// */
@layer utilities {
  .members-container {
    @apply w-full min-h-dvh flex-center flex-col space-y-8;
  }
}

/* ///////////////////////////////////// */
/* /////////// USERS STYLES //////////// */
/* //////////////////////////////////// */
@layer utilities {
  .users-container {
    @apply w-full min-h-dvh flex-center flex-col space-y-8;
  }
}

/* ///////////////////////////////////// */
/* ///////// REPORTS STYLES /////////// */
/* //////////////////////////////////// */
@layer utilities {
  .reports-container {
    @apply w-full min-h-dvh flex-center;
  }
}

/* ///////////////////////////////////// */
/* /////////// ROLES STYLES //////////// */
/* //////////////////////////////////// */
@layer utilities {
  .roles-container {
    @apply w-full min-h-dvh flex-center flex-col space-y-8;
  }
}

/* ///////////////////////////////////// */
/* ////////// SETTINGS STYLES ////////// */
/* //////////////////////////////////// */
@layer utilities {
  .settings-container {
    @apply w-full min-h-dvh flex-center;
  }
}