
:root {
	--primary: 0 0% 100%;
	--primary-50: 210 40% 98%;
	--primary-100: 210 40% 96.1% ;
	--primary-200: 214.3 31.8% 91.4% ;
	--primary-300: 212.7 26.8% 83.9% ;
	--primary-400: 215 20.2% 65.1% ;
	--primary-500: 215.4 16.3% 46.9% ;
	--primary-600: 215.3 19.3% 34.5% ;
	--primary-700: 215.3 25% 26.7% ;
	--primary-800: 217.2 32.6% 17.5% ;
	--primary-900: 222.2 47.4% 11.2% ;
	--primary-950: 222.2 84% 4.9% ;
	
	--secondary-50: 213.8 100% 96.9%;
	--secondary-100: 214.3 94.6% 92.7% ;
	--secondary-200: 213.3 96.9% 87.3% ;
	--secondary-300: 211.7 96.4% 78.4% ;
	--secondary-400: 213.1 93.9% 67.8% ;
	--secondary-500: 217.2 91.2% 59.8% ;
	--secondary-600: 221.2 83.2% 53.3% ;
	--secondary-700: 224.3 76.3% 48% ;
	--secondary-800: 225.9 70.7% 40.2% ;
	--secondary-900: 224.4 64.3% 32.9% ;
	--secondary-950: 226.2 57% 21% ;
	--secondary: 0 0% 100%;

	--success-50: 138.5 76.5% 96.7%;
	--success-100: 140.6 84.2% 92.5% ;
	--success-200: 141 78.9% 85.1% ;
	--success-300: 141.7 76.6% 73.1% ;
	--success-400: 141.9 69.2% 58% ;
	--success-500: 142.1 70.6% 45.3% ;
	--success-600: 142.1 76.2% 36.3% ;
	--success-700: 142.4 71.8% 29.2% ;
	--success-800: 142.8 64.2% 24.1% ;
	--success-900: 143.8 61.2% 20.2% ;
	--success-950: 144.9 80.4% 10% ;

	--danger-50: 0 85.7% 97.3%;
	--danger-100: 0 93.3% 94.1% ;
	--danger-200: 0 96.3% 89.4% ;
	--danger-300: 0 93.5% 81.8% ;
	--danger-400: 0 90.6% 70.8% ;
	--danger-500: 0 84.2% 60.2% ;
	--danger-600: 0 72.2% 50.6% ;
	--danger-700: 0 73.7% 41.8% ;
	--danger-800: 0 70% 35.3% ;
	--danger-900: 0 62.8% 30.6% ;
	--danger-950: 0 74.7% 15.5% ;

	color-scheme: normal;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: 0 0% 100%;
		--primary-50: 210 40% 98%;
		--primary-100: 210 40% 96.1% ;
		--primary-200: 214.3 31.8% 91.4% ;
		--primary-300: 212.7 26.8% 83.9% ;
		--primary-400: 215 20.2% 65.1% ;
		--primary-500: 215.4 16.3% 46.9% ;
		--primary-600: 215.3 19.3% 34.5% ;
		--primary-700: 215.3 25% 26.7% ;
		--primary-800: 217.2 32.6% 17.5% ;
		--primary-900: 222.2 47.4% 11.2% ;
		--primary-950: 222.2 84% 4.9% ;
		
		--secondary: 0 0% 100%;
		--secondary-50: 213.8 100% 96.9%;
		--secondary-100: 214.3 94.6% 92.7% ;
		--secondary-200: 213.3 96.9% 87.3% ;
		--secondary-300: 211.7 96.4% 78.4% ;
		--secondary-400: 213.1 93.9% 67.8% ;
		--secondary-500: 217.2 91.2% 59.8% ;
		--secondary-600: 221.2 83.2% 53.3% ;
		--secondary-700: 224.3 76.3% 48% ;
		--secondary-800: 225.9 70.7% 40.2% ;
		--secondary-900: 224.4 64.3% 32.9% ;
		--secondary-950: 226.2 57% 21% ;

		--success-50: 138.5 76.5% 96.7%;
		--success-100: 140.6 84.2% 92.5% ;
		--success-200: 141 78.9% 85.1% ;
		--success-300: 141.7 76.6% 73.1% ;
		--success-400: 141.9 69.2% 58% ;
		--success-500: 142.1 70.6% 45.3% ;
		--success-600: 142.1 76.2% 36.3% ;
		--success-700: 142.4 71.8% 29.2% ;
		--success-800: 142.8 64.2% 24.1% ;
		--success-900: 143.8 61.2% 20.2% ;
		--success-950: 144.9 80.4% 10% ;

		--danger-50: 0 85.7% 97.3%;
		--danger-100: 0 93.3% 94.1% ;
		--danger-200: 0 96.3% 89.4% ;
		--danger-300: 0 93.5% 81.8% ;
		--danger-400: 0 90.6% 70.8% ;
		--danger-500: 0 84.2% 60.2% ;
		--danger-600: 0 72.2% 50.6% ;
		--danger-700: 0 73.7% 41.8% ;
		--danger-800: 0 70% 35.3% ;
		--danger-900: 0 62.8% 30.6% ;
		--danger-950: 0 74.7% 15.5% ;
	}
}

@layer base {
	html {
		@apply scroll-smooth
	}

	body {
		@apply w-full min-h-dvh bg-primary text-primary-950 scroll-smooth font-inter;
	}

	table {
		@apply w-full
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.common-header-section {
		@apply w-full p-5 pt-10;

		>h1 {
			@apply text-2xl font-semibold tracking-tight text-primary-800
		}
	}
}

@layer components {
	.checkbox {
		@apply size-4 shrink-0 rounded-[4px] border border-primary-500 shadow focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-secondary-500 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary-700 data-[state=checked]:text-primary-100;

		>span {
			@apply flex items-center justify-center text-current;

			>svg {
				@apply size-4;
			}
		}
	}

	.select {
		&.trigger {
			@apply flex h-9 w-full items-center justify-between whitespace-nowrap rounded-md border border-primary-300 bg-transparent px-3 py-2 text-sm ring-offset-primary-300 placeholder:text-primary-600 focus:outline-none focus:ring-1 focus:ring-primary-300 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1;

			>svg {
				@apply size-4 opacity-50;
			}
		}

		&.content {
			@apply relative z-50 max-h-96 min-w-[8rem] overflow-hidden rounded-md border bg-primary text-primary-800 shadow-md;
			@apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;

			&[data-state=open] {
				@apply animate-in fade-in-0 zoom-in-95;
			}

			&[data-state=closed] {
				@apply animate-out fade-out-0  zoom-out-95;
			}

			&.popper {
				@apply data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1;
			}

			.scroll-up, .scroll-down {
				@apply flex cursor-default items-center justify-center py-1;

				>svg {
					@apply size-4;
				}
			}

			.viewport {
				@apply p-2;

				&.popper {
					@apply h-[var(--radix-select-trigger-height)] w-full min-w-[var(--radix-select-trigger-width)];
				}
			}

			.item {
				@apply relative flex w-full cursor-default select-none items-center rounded-md py-1.5 pl-8 pr-2 text-xs outline-none focus:bg-primary-50;
				@apply data-[disabled]:pointer-events-none data-[disabled]:opacity-50;

				.indicator {
					@apply absolute left-2 flex size-3.5 items-center justify-center;

					svg {
						@apply size-4;
					}
				}
			}

			.separator {
				@apply -mx-1 my-1 h-px bg-primary-300;
			}

			.label {
				@apply py-1.5 pl-8 pr-2 text-sm font-semibold
			}
		}
	}

	.dialog {
		&.overlay {
			@apply fixed inset-0 z-50 bg-black/30;

			&[data-state=open] {
				@apply animate-in fade-in-0;
			}
			&[data-state=closed] {
				@apply animate-out fade-out-0;
			}
		}

		&.content {
			@apply overflow-hidden fixed left-[50%] top-[50%] z-50 w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-4 border bg-primary p-4 shadow-lg duration-200 sm:rounded-lg;

			&[data-state=open] {
				@apply animate-in fade-in-0 zoom-in-95 slide-in-from-left-1/2 slide-in-from-top-[48%];
			}
			&[data-state=close] {
				@apply animate-out fade-out-0 zoom-out-95 slide-out-to-left-1/2 slide-out-to-top-[48%];
			}

			.close {
				@apply absolute right-4 top-4 rounded-sm opacity-70 ring-offset-1 transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 disabled:pointer-events-none;

				&[data-state=open] {
					@apply bg-primary-300 text-primary-700;
				}
			}
			.title {
				@apply text-sm font-medium leading-none tracking-tight capitalize;
			}
			.description {
				@apply text-xs font-medium text-primary-700;
			}
		}
	}

	.drawer {
		&.overlay {
			@apply fixed inset-0 z-50 bg-black/80;
		}

		&.content {
			@apply fixed inset-x-0 bottom-0 z-50 mt-24 flex h-auto flex-col rounded-t-[10px] border bg-primary-50;

			.handle {
				@apply mx-auto mt-4 h-2 w-[100px] rounded-full bg-primary-300;
			}
			.title {
				@apply text-lg font-semibold leading-none tracking-tight;
			}
			.description {
				@apply text-sm text-primary-500;
			}
		}
	}

	.drop-menu {
		&.trigger {
			@apply flex cursor-default gap-2 select-none items-center rounded-sm px-2 py-1.5 text-sm outline-none focus:bg-primary data-[state=open]:bg-primary;

			&svg {
				@apply pointer-events-none size-4 shrink-0 ml-auto;
			}
			&.has-inset {
				@apply pl-8;
			}
		}

		&.content {
			@apply z-50 min-w-[8rem] overflow-hidden rounded-md border bg-primary p-1 text-primary-700 shadow-md;
			@apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;

			&[data-state=open] {
				@apply animate-in fade-in-0 zoom-in-95
			}
			&[data-state=closed] {
				@apply animate-out fade-out-0 zoom-out-95
			}
			.sub-content {
				@apply z-50 min-w-[8rem] overflow-hidden rounded-md border bg-primary p-1 text-primary-700 shadow-lg;
				@apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;

				&[data-state=open] {
					@apply animate-in fade-in-0 zoom-in-95
				}

				&[data-state=closed] {
					@apply animate-out fade-out-0 zoom-out-95
				}
			}

			.item {
				@apply relative flex cursor-default select-none items-center gap-2 rounded-sm px-2 py-1.5 text-xs font-medium outline-none transition-colors focus:bg-primary-50 focus:text-primary-700 data-[disabled]:pointer-events-none data-[disabled]:opacity-50;
				
				&svg {
					@apply size-4 shrink-0;
				}
				&.has-inset {
					@apply pl-8;
				}
			}

			.checkbox-item {
				@apply relative flex cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none transition-colors focus:bg-primary-300 focus:text-primary-700 data-[disabled]:pointer-events-none data-[disabled]:opacity-50;

				.checkbox {
					@apply absolute left-2 flex h-3.5 w-3.5 items-center justify-center;

					svg {
						@apply size-2;
					}
				}
			}

			.radio-item {
				@apply relative flex cursor-default select-none items-center rounded-sm py-1.5 pl-8 pr-2 text-sm outline-none transition-colors focus:bg-primary-300 focus:text-primary-700 data-[disabled]:pointer-events-none data-[disabled]:opacity-50;

				.radio {
					@apply absolute left-2 flex h-3.5 w-3.5 items-center justify-center;

					svg {
						@apply size-2 fill-current;
					}
				}
			}

			.label {
				@apply px-2 py-1.5 text-sm font-semibold;

				&.has-inset {
					@apply pl-8;
				}
			}

			.separator {
				@apply -mx-1 my-1 h-px bg-primary-300;
			}
		}
	}

	.popover {
		&.content {
			@apply z-50 w-72 rounded-md border bg-primary p-2 text-primary-700 shadow-md outline-none;
			@apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2;

			&[data-state=open] {
				@apply animate-in fade-in-0 zoom-in-95
			}
			&[data-state=closed] {
				@apply  animate-out fade-out-0 zoom-out-95
			}
		}
	}

	.sheet {
		&.overlay {
			@apply fixed inset-0 z-50 bg-black/80;

			&[data-state=open] {
				@apply animate-in fade-in-0
			}
			&[data-state=closed] {
				@apply animate-out fade-out-0
			}
		}

		&.content {
			@apply fixed z-50 gap-4 bg-primary-50 p-6 shadow-lg transition ease-in-out;

			&[data-state=open] {
				@apply duration-500 animate-in;
			}
			&[data-state=closed] {
				@apply duration-300 animate-out;
			}
			&.side-top {
				@apply inset-x-0 top-0 border-b data-[state=closed]:slide-out-to-top data-[state=open]:slide-in-from-top;
			}
			&.side-bottom {
				@apply inset-x-0 bottom-0 border-t data-[state=closed]:slide-out-to-bottom data-[state=open]:slide-in-from-bottom;
			}
			&.side-left {
				@apply inset-y-0 left-0 h-full w-3/4 border-r data-[state=closed]:slide-out-to-left data-[state=open]:slide-in-from-left sm:max-w-sm;
			}
			&.side-right {
				@apply inset-y-0 right-0 h-full w-3/4 border-l data-[state=closed]:slide-out-to-right data-[state=open]:slide-in-from-right sm:max-w-sm;
			}

			.close {
				@apply absolute right-4 top-4 rounded-sm opacity-70 ring-offset-primary-300 transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-primary-300 focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-primary-50;

				svg {
					@apply size-4;
				}
			}
			.title {
				@apply text-lg font-semibold text-primary-800;
			}
			.description {
				@apply text-sm text-primary-500;
			}
		}
	}

	.switch {
		@apply inline-flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-300 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-300 disabled:cursor-not-allowed disabled:opacity-50;
		@apply data-[state=checked]:bg-primary-700 data-[state=unchecked]:bg-primary-100;

		.thumb {
			@apply pointer-events-none block h-4 w-4 rounded-full bg-primary-50 shadow-lg ring-0 transition-transform;
			@apply data-[state=checked]:translate-x-4 data-[state=unchecked]:translate-x-0;
		}
	}

	.tooltip {
		&.content {
			@apply z-50 overflow-hidden rounded-md bg-primary-50 px-3 py-1.5 text-xs text-primary-700 animate-in fade-in-0 zoom-in-95;
			@apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
			@apply data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2
		}
	}
}
