
@layer components {
	.resource-container {
		@apply w-full min-h-dvh flex flex-col;
	}

	.resource-container>#header-section {
		@apply w-full p-5 pt-10 flex justify-between items-center;

		#info {
			@apply flex items-center space-x-4;

			>h1 {
				@apply text-xl font-semibold tracking-tight text-primary-800;
			}
		}

		#action-buttons {
			@apply flex space-x-2 items-center;

			svg {
				@apply size-5;
			}
			#new-folder-trigger{
				@apply flex items-center space-x-2 px-2 h-8 text-xs font-semibold bg-secondary-700 hover:bg-secondary-800 rounded-md text-primary focus:outline-secondary-300;
			}
			#new-file-button-container {
				@apply flex items-center;

				#file-input-trigger {
					@apply px-2 h-8 text-xs font-semibold flex items-center rounded-l-md bg-secondary-50 cursor-pointer text-primary-700 hover:bg-secondary-200;
					@apply [&>span]:ml-2;
				}
				#upload-status-trigger {
					@apply relative px-2 h-8 text-xs font-semibold bg-secondary-700 text-secondary-50 rounded-r-md hover:bg-secondary-800;
					@apply [&>svg]:size-4;

					&:disabled {
						@apply hover:bg-secondary-700 opacity-50;
					}

					#total-active-uploads {
						@apply absolute -top-3 -right-1/2 -translate-x-1/3 h-6 px-2 rounded-full overflow-hidden text-sm font-semibold bg-secondary-50 text-secondary-800 flex-center
					}
				}
			}
		}
	}

	.resource-container>#filter-section {
		form {
			@apply w-full py-2 px-5 flex-center !justify-end border-t;

			#filter-buttons {
				@apply flex items-center gap-2 flex-wrap;
			}
	    }
	}
	
	.resource-container>#table-section {
		@apply relative w-full flex-1 overflow-scroll;
		
		table#main-table {
			.name-col>div {
				@apply w-64 space-x-2;

				>svg {
					@apply size-5 stroke-1;
				}
				>a {
					@apply hover:underline text-ellipsis whitespace-nowrap overflow-hidden;
				}
			}
			.status-col {
				&.status-td {
					p {
						@apply text-xs px-2 py-1 rounded-full flex-center space-x-1.5 tracking-wide justify-start lowercase !important;

						&[data-status=active] {
							@apply bg-success-50 text-success-600;

							span.indicator {
								@apply bg-success-600
							}
						}
						&[data-status=hidden] {
							@apply bg-danger-50 text-danger-600;

							span.indicator {
								@apply bg-danger-600
							}
						}
						span.indicator {
							@apply size-1.5 rounded-full;
						}
					}
				}
			}
		}	
	}
	
	.resource-container>#footer-section {
		@apply w-full px-5 py-2 flex-center !justify-between border-t;

		#data-info {
			@apply flex items-center justify-start;

			#page-number {
				@apply text-xs font-medium text-primary-600 flex gap-1;

				span {
					@apply text-primary-700 font-semibold
				}
			}
		}

		#data-pagination {
			@apply flex items-center justify-end space-x-2;

			button {
				@apply p-1 px-2 rounded-full flex-center space-x-1 border text-primary-700 text-xs font-semibold hover:bg-primary-200;
			}
		}
	}

	/* DIALOGS AND POPUPS */
	.drop-menu {
		&#uploader-status-content {
			@apply w-72 max-h-80 overflow-y-auto space-y-2;

			.item {
				@apply isolate flex w-full flex-col justify-center rounded-md p-2 hover:bg-primary-50;

				.above-section {
					@apply w-full flex items-center justify-start gap-2;

					.icon-svg {
						@apply shrink-0 size-5;
					}
					.info-container {
						@apply min-w-0 flex-1 text-xs;

						p {
							@apply overflow-hidden overflow-ellipsis whitespace-nowrap text-primary-800 font-medium;
						}
						span {
							@apply text-xs text-primary-500;
						}
					}
					.actions-container {
						@apply flex w-8 aspect-square flex-center text-xs;

						.remove-btn {
							@apply rounded-sm h-full w-full flex-center p-1 transition-colors duration-200;
							background: radial-gradient(hsl(var(--secondary-300)), transparent, transparent);
							
							&:hover {
								background: radial-gradient(hsl(var(--secondary-300)), hsl(var(--secondary-300)/0.3), transparent);
							}
							svg {
								@apply shrink-0 size-5 text-secondary-500;
							}
						}
						.error-svg-container {
							@apply h-full w-full flex-center;
							background: radial-gradient(hsl(var(--danger-300)), transparent, transparent);
							
							svg {
								@apply size-5 shrink-0 text-danger-500;
							}
						}
						.abort-btn {
							@apply size-full rounded-sm flex-center transition-colors duration-200;
							
							&:hover {
								background: radial-gradient(hsl(var(--primary-300)), hsl(var(--primary-300)/0.3), transparent);
							}
							.abort-svg {
								@apply size-6 shrink-0 text-primary-500;
							}
						}
						.complete-svg-container {
							@apply size-full flex-center;
							background: radial-gradient(hsl(var(--success-300)), transparent, transparent);
							
							svg {
								@apply size-5 shrink-0 text-success-500;
							}
						}
					}
				}

				.below-section {
					@apply w-full flex items-center space-x-2;

					.progress-container {
						@apply h-1 flex-1 shrink-0 overflow-clip rounded-full bg-secondary-100;
	
						.progress-bar {
							@apply h-full bg-secondary-500 transition-all duration-300 ease-in-out
						}
					}
					p {
						@apply font-medium;
					}
				}
			}
		}
		&#folder-crumbs-dropmenu {
			@apply text-xs p-0 py-2 rounded-xl;

			.item {
				@apply lowercase;
			}
		}
	}

	.dialog {
		&#new-folder-form {
			@apply w-full max-w-screen-sm m-4 p-0 border;

			>.form-body {
				@apply w-full h-10 flex items-center pl-2 bg-primary-50/50;

				label {
					@apply sr-only;
				}
				.icon {
					@apply size-5;
				}
				input {
					@apply block flex-1 px-2 py-1 h-full text-xs focus:outline-none bg-transparent;
				}
				.form-buttons {
					@apply h-full flex items-center;

					button {
						@apply h-full aspect-square flex-center;
						@apply [&>svg]:size-5 [&>svg]:stroke-2 [&>svg]:text-primary-700;
					}
					.form-close:hover {
						@apply [&>svg]:text-danger-500;
						background: radial-gradient(hsl(var(--danger-300)), hsl(var(--danger-300)/0.2), transparent);
					}
					.form-submit:hover {
						@apply [&>svg]:text-success-500;
						background: radial-gradient(hsl(var(--success-300)), hsl(var(--success-300)/0.2), transparent);
					}
				}
			}
			>.form-footer {
				@apply w-full p-2 border-t flex-center !justify-start bg-primary-200/80;

				.title {
					@apply sr-only;
				}
			}
		}
	}
}